@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #00aaff, #00ff6c);
    font-family: Asap, sans-serif;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .primary-display {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
}

.output .secondary-display {
    color: white;
    font-size: 2.5rem;
}

.links {
    margin: 50px 0;
    text-align: center;
}

.link {
    display: inline-block;
    margin: 1px 5px;
    padding: 10px;
}

footer {
    padding: 30px;
}

footer > p {
    text-align: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
